/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@400;500;600;700;800&family=Rowdies:wght@300;400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Orbitron:wght@500;600;700&family=Poppins:wght@400;500;600;700;800&family=Rowdies:wght@300;400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}



.modal-1 {
    display: none; /* ocultamos inicialmente la consola modal */
    position: fixed; /* posición fija para que aparezca en el centro */
    z-index: 1; /* para que esté en la parte superior de todo */
    left: 0;
    top: 0;
    width: 100%; /* ocupa todo el ancho de la pantalla */
    height: 100%; /* ocupa todo el alto de la pantalla */
    overflow: auto; /* para poder desplazarse si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semi-transparente */
    padding: 40px;
  }
  
  .modal-content-1 {
    background-color: #ffffff; /* fondo blanco */
    margin: 15% auto; /* margen superior para que aparezca en el centro */
    padding: 30px;
    border: 1px solid #c3c3c3;
    width: 50%; /* ancho del contenido de la consola modal */
  }
  .modal-content-1 h2{
    font-size: 40px;
    color: #ff9f1c;
    padding-bottom: 40px;
    padding-left: 45px;

  }

  #elements{
    padding-bottom: 4px;
  }
  .close-1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-1:hover,
  .close-1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .btn {
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    background-color: #ff9f1c;
    border: none;
    transition: all 0.5s;

  }
  .btn:hover{
    background-color: #008bae;
  }


.modal {
    display: none; /* ocultamos inicialmente la consola modal */
    position: fixed; /* posición fija para que aparezca en el centro */
    z-index: 1; /* para que esté en la parte superior de todo */
    left: 0;
    top: 0;
    width: 100%; /* ocupa todo el ancho de la pantalla */
    height: 100%; /* ocupa todo el alto de la pantalla */
    overflow: auto; /* para poder desplazarse si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semi-transparente */
    padding: 40px;
  }
  
  .modal-content {
    background-color: #ffffff; /* fondo blanco */
    margin: 15% auto; /* margen superior para que aparezca en el centro */
    padding: 40px;
    border: 1px solid #888;
    width: 40%; /* ancho del contenido de la consola modal */
  }

  .modal-content h2{
    font-size: 40px;
    color: #ff9f1c;
    padding-bottom: 40px;
    padding-left: 45px;
  }

  .text_1{
    padding-bottom: 4px;
  }

 .text_2{
    padding-bottom: 20px;
    font-size: 10px;
  }


  .modal-content input{
    background-color: #ffffff;
    padding: 10px;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .btn {
    text-align: center;
    padding: 4px;
    border-radius: 3px;
    background-color: #ff9f1c;
    border: none;
    transition: all 0.5s;

  }
  .btn:hover{
    background-color: #008bae;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  
  th {
    background-color: #ccc;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  body {
    font-family: Arial, sans-serif;
  }



.boton-start{
    position: absolute;
    top: 145%;
}
.start-btn {
    background-color: #ff9f1c;
    color: #ffffff;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 0;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    font-size: 1.5rem;
    transition: 0.3s all;
  }
  

.start-btn:hover {
    background-color: #008bae;
  }
.intro{
    position: absolute;
    top: 3%;
    
}
.text{
    position: absolute;
    top: 85%;
    font-size: 25px;
    font-weight: 400px;
    right: 16%;
}
.title{
    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    font-weight: 300;
}
.score{
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    right: 63%;
}

.score .bloque1{
    margin: 0% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 70px;
    height: 600px;
}

.score .bloque1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #ffbf69;

}

.temporizador{
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    right: 25%;
    
}
.temporizador .bloque{
    margin: 0% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.temporizador .bloque div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#cbf3f0 ;
    box-shadow: #cbf3f0;
    font-size: 25px;
    width: 70px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #000000 ;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.temporizador .bloque p{
    font-size: 12px;
    margin: 0;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffbf69;
  position: relative;
}
.tablero{
    position: absolute;
    top: 50%;
    padding: 60px;
    border-radius: 20px;
    background: #ff9f1c;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.card, .carta, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card .carta{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.carta.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.carta .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}
.carta .view-portada img{
  width: 40px;
}
.carta .view-back img{
    max-height: 150px;
    max-width: 100px;  
}
.carta .view-back{
  transform: rotateY(-180deg);
}
.carta.flip .view-back{
  transform: rotateY(0);
}
.carta.flip .view-portada{
  transform: rotateY(180deg);
}


@media screen and (max-width: 700px) {
  .card{
    height: 350px;
    width: 350px;
  }
  .carta .view-portada img{
    width: 30px;
  }
  .carta .view-back img{
    max-width: 50px;
  }

.text{
    position: absolute;
    top: 85%;
    font-size: 15px;
    font-weight: 400px;
    right: 20%;
}
.title{
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    font-weight: 300;
    right: 0px;
}

.score{
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 27%;
    right: 70%;
}


.temporizador{
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 25%;
    right: 8%;
    
}
.tablero{
    position: absolute;
    top: 40%;
    padding: 40px;
    border-radius: 20px;
    background: #ff9f1c;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    left: 20%;
}

.boton-start{
    position: absolute;
    top: 105%;
    right: 38%;

}

.modal {
    display: none; /* ocultamos inicialmente la consola modal */
    position: fixed; /* posición fija para que aparezca en el centro */
    z-index: 1; /* para que esté en la parte superior de todo */
    left: 0;
    top: 0;
    width: 100%; /* ocupa todo el ancho de la pantalla */
    height: 100%; /* ocupa todo el alto de la pantalla */
    overflow: auto; /* para poder desplazarse si el contenido es demasiado grande */
    background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semi-transparente */
    padding: 40px;
  }
  
  .modal-content {
    background-color: #ffffff; /* fondo blanco */
    margin: 15% auto; /* margen superior para que aparezca en el centro */
    padding: 30px;
    border: 1px solid #888;
    width: 100%; /* ancho del contenido de la consola modal */
  }

  .modal-content h2{
    font-size: 40px;
    color: #ff9f1c;
    padding-bottom: 25px;
    padding-left: 0px;
  }

  .text_1{
    padding-bottom: 4px;
    font-size: 10px;
  }

 .text_2{
    padding-bottom: 20px;
    font-size: 10px;
  }


  .modal-content input{
    background-color: #ffffff;
    padding: 10px;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-1 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 20px;
  }
  
  .modal-content-1 {
    background-color: #ffffff; /* fondo blanco */
    margin: 50% auto; /* margen superior para que aparezca en el centro */
    padding: 10px;
    border: 1px solid #c3c3c3;
    width: 80%; /* ancho del contenido de la consola modal */
  }
  .modal-content-1 h2{
    font-size: 40px;
    color: #ff9f1c;
    padding-right: 90px;
    padding-bottom: 10px;
    

  }


}
@media screen and (max-width: 530px) {
  .card{
    height: 300px;
    width: 300px;
  }
  .carta .view-portada img{
    width: 15px;
  }
  .carta .view-back img{
    max-width: 35px;
  }


}


@media screen and (max-width: 375px) {
    .card{
      height: 300px;
      width: 300px;
    }
    .carta .view-portada img{
      width: 15px;
    }
    .carta .view-back img{
      max-width: 35px;
    }
    .boton-start{
        position: absolute;
        top: 95%;
        right: 26%;

    }
    .score{
    
        display: flex;
        justify-content: center;
        position: absolute;
        top: 26%;
        right: 55%;
    }
    
    
    .temporizador{
        
        display: flex;
        justify-content: center;
        position: absolute;
        top: 25%;
        right: 5%;
        
    }
    .temporizador .bloque{
        margin: 0% 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .tablero{
        position: absolute;
        top: 40%;
        padding: 20px;
        border-radius: 20px;
        background: #ff9f1c;
        box-shadow: 0 10px 30px rgba(0,0,0,0.1);
        left: 5%;
    }

    .text{
        position: absolute;
        top: 85%;
        font-size: 10px;
        font-weight: 400px;
        right: 15%;
    }
    .title{
        font-family: 'Orbitron', sans-serif;
        font-size: 60px;
        font-weight: 300;
        right: 0px;
    }
    .intro{
        align-items: center;
       
    }

    .modal {
        display: none; /* ocultamos inicialmente la consola modal */
        position: fixed; /* posición fija para que aparezca en el centro */
        z-index: 1; /* para que esté en la parte superior de todo */
        left: 0;
        top: 0;
        width: 100%; /* ocupa todo el ancho de la pantalla */
        height: 100%; /* ocupa todo el alto de la pantalla */
        overflow: auto; /* para poder desplazarse si el contenido es demasiado grande */
        background-color: rgba(0, 0, 0, 0.4); /* fondo oscuro semi-transparente */
        padding: 40px;
      }
      
      .modal-content {
        background-color: #ffffff; /* fondo blanco */
        margin: 15% auto; /* margen superior para que aparezca en el centro */
        padding: 30px;
        border: 1px solid #888;
        width: 100%; /* ancho del contenido de la consola modal */
      }
    
      .modal-content h2{
        font-size: 40px;
        color: #ff9f1c;
        padding-bottom: 25px;
        padding-left: 0px;
      }
    
      .text_1{
        padding-bottom: 4px;
        font-size: 10px;
      }
    
     .text_2{
        padding-bottom: 20px;
        font-size: 10px;
      }
    
    
      .modal-content input{
        background-color: #ffffff;
        padding: 10px;
      }
      
    
      .close {
        color: #aaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .modal-1 {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.4); 
        padding: 20px;
      }
      
      .modal-content-1 {
        background-color: #ffffff; /* fondo blanco */
        margin: 50% auto; /* margen superior para que aparezca en el centro */
        padding: 10px;
        border: 1px solid #c3c3c3;
        width: 100%; /* ancho del contenido de la consola modal */
      }
      .modal-content-1 h2{
        font-size: 30px;
        color: #ff9f1c;
        padding-right: 100px;
        padding-bottom: 10px;
        
    
      }
    
      #elements{
        padding-bottom: 4px;
      }
      .close-1 {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      
      .close-1:hover,
      .close-1:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
  
  }








  


