/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@400;500;600;700;800&family=Rowdies:wght@300;400;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Orbitron:wght@500;600;700&family=Poppins:wght@400;500;600;700;800&family=Rowdies:wght@300;400;700&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
.intro{
    position: absolute;
    top: 3%;
    
}
.text{
    position: absolute;
    top: 85%;
    font-size: 25px;
    font-weight: 400px;
    right: 16%;
}
.title{
    font-family: 'Orbitron', sans-serif;
    font-size: 150px;
    font-weight: 300;
}

/*
.logo{
    position: absolute;
    top: 20%;
    left: -40%;
    height: 140px;
    width: 140px;
    border: 5px solid #000000 ;
    border-radius: 70%;
    background-color: #ffffff;

}

.l{
    position: absolute;
    width:40px;
    height:140px;
    left: 35% ;
}
*/

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffbf69;
  position: relative;
}
.tablero{
    position: absolute;
    top: 35%;
    padding: 60px;
    border-radius: 20px;
    background: #ff9f1c;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.card, .carta, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card .carta{
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}
.carta.shake{
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}
.carta .view{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: transform 0.25s linear;
}
.carta .view-portada img{
  width: 40px;
}
.carta .view-backview img{
  max-width: 45px;
}
.carta .view-back{
  transform: rotateY(-180deg);
}
.carta.flip .view-back{
  transform: rotateY(0);
}
.carta.flip .view-portada{
  transform: rotateY(180deg);
}
@media screen and (max-width: 700px) {
  .cards{
    height: 350px;
    width: 350px;
  }
  .carta .view-portada img{
    width: 17px;
  }
  .carta .view-back img{
    max-width: 40px;
  }
}
@media screen and (max-width: 530px) {
  .cards{
    height: 300px;
    width: 300px;
  }
  .carta .view-portada img{
    width: 15px;
  }
  .carta .view-back img{
    max-width: 35px;
  }
}


/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; /* quita lo sunrayado de los enlaces
    list-style: none; /* quita los bullets (bolitas negras) de la lista
}



header{
    max-width: 1200px;
    margin: 0 auto;  /* evita qeu se salga del margen del contenedor
}
.title{
    font-weight: 300;
    font-family: 'Rowdies', cursive;;
    font-size: 100px;
    position: absolute;
    right: -700px;
    down
    
}


.logo{
    height: 200px; 
    position: absolute; 
    right: -500px;
    top: 20px;
    
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffffff;
}





.intro{

    position: absolute;
    align-items:normal;
    justify-content: center;
    font-size: 40px;
}
*/

/* <div class="inicio">
        <form action=""></form>

    </div>

    <div class="tablero">
        <ul class="16-cartas">
            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2020/04/PHOTO-2020-04-16-15-10-57.jpg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/EQRGsnaWsAIUTse?format=jpg&name=large" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2020/10/gandhi-1-1500x1125.jpg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2023/02/WhatsApp-Image-2023-02-27-at-7.06.55-AM-1030x773.jpeg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/Cph2SZ-XYAAyPlG?format=jpg&name=small" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/Fh2fNjlXgAAa4YA?format=jpg&name=large" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/EjHEheTXYAABxZE?format=jpg&name=medium" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2022/03/Diseño-Franela-CN-20221-241x300.jpg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2020/04/PHOTO-2020-04-16-15-10-57.jpg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/EQRGsnaWsAIUTse?format=jpg&name=large" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2020/10/gandhi-1-1500x1125.jpg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2023/02/WhatsApp-Image-2023-02-27-at-7.06.55-AM-1030x773.jpeg" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/Cph2SZ-XYAAyPlG?format=jpg&name=small" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/Fh2fNjlXgAAa4YA?format=jpg&name=large" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://pbs.twimg.com/media/EjHEheTXYAABxZE?format=jpg&name=medium" alt="foto">
                </div>
            </li>

            <li class="carta">
                <div class="view view-portada">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Unimet_logo.png" alt="icono">
                </div>
                <div class="view view-back">
                    <img src="https://www.unimet.edu.ve/wp-content/uploads/2022/03/Diseño-Franela-CN-20221-241x300.jpg" alt="foto">
                </div>
            </li>


        </ul>
           

       

    </div> 
    
    */